# Project exclude paths
/out/
/dlFile
/GD.ZR.5.1.0.1402.rar
/How.I.Met.Your.Mother.S01E01.720p.WEB-DL.2CH.x265.HEVC-PSA.AvaMovie.mkv
/src/com/mbn/links.txt
/How.I.Met.Your.Mother.S01E01.720p.WEB-DL.2CH.x265.HEVC-PSA.AvaMovie.mkv_resumefile
/How.I.Met.Your.Mother.S01E02.720p.WEB-DL.2CH.x265.HEVC-PSA.AvaMovie.mkv
/src/com/mbn/LockTest.java
